body {
    background-image: url('../images/homepage-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

.header-container {
    height: 100vh;
}

.title {
    margin-top: 30vh;
}