h1 {
    color: rgb(49, 123, 188);
    font-size: xx-large;
    font-family: 'Birdseye', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 9vw;
    -webkit-font-smoothing: antialiased;
    text-align: start;
}
h3 {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-family: Tahoma, sans-serif;
}
a {
    color: rgb(237, 129, 43);
}
.bg-primary {
    background-color: rgb(51, 51, 51);
}
.bg-secondary {
    background-color: rgb(49, 123, 188);
}
.bg-success {
    background-color: rgb(83, 186, 22);
}
.selected {
    border: solid black 1px;
}
a:hover {
    text-decoration: none;
    color: rgb(237, 129, 43);
}
h3:hover {
    font-weight: bolder;
}
.navbar-light {
    text-align: right;
    /* float: right; */
}
.nav-container {
    background-color: rgb(49, 123, 188);
}
.col-8 {
    padding-left: 5%;
}