.dark {
    color: black;
    text-align: left;
    padding-right: 3vw;
}

.about-image {
    padding-left: 3vw;
}

@media only screen and (max-width: 767px) {
    .media-pad {
        padding-left: 3vw;
    }
}

.li {
    font-size: 1.5rem;
}

/*body {
    background-color: lightgray;
    background-image: url('../images/about-logo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}*/